<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>qiu</title>
  <link href="https://cdn.bootcss.com/twitter-bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="/public/assets/css/home.css">
</head>
<body>
  <main class="main">
    <nav class="navbar navbar-light sidebar" id="navbar-sidebar">
      <section class="navbar-brand">
        <img src="/public/assets/images/logo.png" alt="logo">
        <span class="logo-title">前端知识体系</span>
      </section>
      <nav class="nav nav-pills flex-column">
        <a class="nav-link" href="#item-1">Item 1</a>
        <nav class="nav nav-pills flex-column">
          <a class="nav-link ml-3 my-1" href="#item-1-1">Item 1-1</a>
          <a class="nav-link ml-3 my-1" href="#item-1-2">Item 1-2</a>
        </nav>
        <a class="nav-link" href="#item-2">Item2</a>
        <a class="nav-link" href="#item-3">Item3</a>
        <nav class="nav nav-pills flex-column">
          <a class="nav-link ml-3 my-1" href="#item-3-1">Item 3-1</a>
          <a class="nav-link ml-3 my-1" href="#item-3-2">Item 3-2</a>
        </nav>
      </nav>
    </nav>
    <section class="content">
      <section class="main-header">
        <nav>
          <a href="https://github.com/qiugu/node-egg" target="_blank">GitHub仓库</a>
          <a href="javascript:;">关于作者</a>
        </nav>
      </section>
      <section class="content-wrapper" data-spy="scroll" data-target="#navbar-sidebar" data-offset="0">
          <h4 id="item-1">Item 1</h4>
          <p>...</p>
          <h5 id="item-1-1">Item 1-1</h5>
          <p>...</p>
          <h5 id="item-1-2">Item 2-2</h5>
          <p>...</p>
          <h4 id="item-2">Item 2</h4>
          <p>...</p>
          <h4 id="item-3">Item 3</h4>
          <p>...</p>
          <h5 id="item-3-1">Item 3-1</h5>
          <p>...</p>
          <h5 id="item-3-2">Item 3-2</h5>
          <p>...</p>
      </section>
    </section>
  </main>
  <script src="https://cdn.bootcss.com/jquery/1.9.1/jquery.min.js"></script>
	<script src="https://cdn.bootcss.com/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/showdown/1.9.0/showdown.min.js" integrity="sha256-LSUpTY0kkXGKvcBC9kbmgibmx3NVVgJvAEfTZbs51mU=" crossorigin="anonymous"></script>
</body>
</html>