<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width,initial-scale=1.0">
  <title>秋</title>
  <style>
    body {
      background: linear-gradient(#72cca8 40%,#aee7c8 60%, #f3f9f8 100%);
    }
  </style>
</head>

<body>
  <h1>为自己走过的路点赞</h1>
  <!-- <ul class="news-view view">
    {% for item in list %}
    <li class="item">
      <a href="{{ item.url }}">{{ item.name }}</a>
    </li>
    {% endfor %}
  </ul> -->
  <script>
    fetch('http://localhost:8080/qgtest/user/getInfo?username=admin', {
      body: JSON.stringify({
        loginName: 'admin',
      }),
      headers: {
        'Content-Type': 'application/json'
      },
      method: 'post'
    }).then(res => res.json())
      .then(res => console.log(res))
  </script>
</body>

</html>