<html>

<head>
  <title>秋谷</title>
</head>

<body>
  <h1>测试</h1>
  <ul class="news-view view">
    {% for item in list %}
    <li class="item">
      <a href="{{ item.url }}">{{ item.name }}</a>
    </li>
    {% endfor %}
  </ul>
  <script>
    fetch('http://47.110.48.159:7001/qgms/user/login', {
      body: JSON.stringify({
        username: 'admin',
        password: '123456'
      }),
      headers: {
        'Content-Type': 'application/json'
      },
      method: 'post'
    }).then(res => res.json())
      .then(res => console.log(res))
  </script>
</body>

</html>